*{padding:0;margin:0}
.menu{

    font-size:12px;
    padding:10px;
    width:500px;
    margin:0 auto;
}
.menu h2{
    margin:5px 0;
    position:relative;
}
.menu h2:after{
    border:8px solid white;
    border-color:white transparent transparent;
    content:"";
    position:absolute;
    right:12px;
    top:15px;
}
.menu h2 a{
    text-decoration: none;
    color:white;
    border-radius:5px;
    padding:0 0 0 10px;
    display:block;
    height:40px;
    line-height:40px;
    background:-webkit-linear-gradient(top,#333,#888);
}
.menu p{
    height:0px;
    overflow:hidden;
}
.menu :target h2 a,
.menu h2 a:focus,
.menu h2 a:hover{
    background:-webkit-linear-gradient(top,#0055cc,#0074cc);
    color:black;
}
.menu :target p{
    height:100px;
}
.menu :target h2:after{
    border-color:transparent transparent transparent white;
}
